*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  width: 100%;
  /* background-color: aquamarine; */
  box-sizing: border-box;
}

.imgcarousel{
  width: 50%;
  height:50vh;
  border-radius: 0%;
}

.grid-item{
display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: space-between;
}

.item{
  width: 300px;
  height: 300px;
  background-color: aqua;
  margin: 5px;
}
#navhover{
  height:10vh;
  width:5%;
 background: linear-gradient(45deg,rgb(40, 161, 6) 30%,rgb(7, 112, 42) 90%);
   position: absolute;
  top: 8.5vh;
  right: 25vw;
  display: none;
}